.faq-item {
    position: relative;
  }
  
  .faq-answer {
    overflow: hidden;
    max-height: 0; 
    opacity: 0; 
    transition: max-height 0.3s ease, opacity 0.3s ease; 
  }
  
  .faq-answer.open {
    max-height: 1000px; 
    opacity: 1; 
  }
.faq-item:hover{
  background: linear-gradient(180deg, rgba(99, 102, 241, 0.8), rgba(255, 255, 255, 0.2)); 
  opacity: 1;
}